<div class="container my-5">
  <h2 class="text-center mb-4">Formulário para registro do professor</h2>
  <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()" novalidate>
    <fieldset class="border p-4 mb-4 rounded">
      <legend class="w-auto">Informações Gerais</legend>

      <div class="row mb-5">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
            placeholder="Ex: Mattheaus"
            [ngClass]="{ 'is-invalid': isInvalid('nome') }"
          />
          <div *ngIf="isInvalid('nome')" class="text-danger small">
            Nome é obrigatório.
          </div>
        </div>
        <div class="col-md-6">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input
            type="text"
            class="form-control"
            id="sobrenome"
            formControlName="sobrenome"
            placeholder="Ex: Hoffman"
            [ngClass]="{ 'is-invalid': isInvalid('sobrenome') }"
          />
          <div *ngIf="isInvalid('sobrenome')" class="text-danger small">
            Sobrenome é obrigatório.
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="exemplo@exemplo.com"
            [ngClass]="{ 'is-invalid': isInvalid('email') }"
          />
          <div *ngIf="isInvalid('email')" class="text-danger small">
            <div *ngIf="teacherForm.get('email')?.errors?.['required']">
              E-mail é obrigatório.
            </div>
            <div *ngIf="teacherForm.get('email')?.errors?.['email']">
              Formato de e-mail inválido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="telefone" class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control"
            id="telefone"
            formControlName="telefone"
            placeholder="(00) 90000-0000"
            mask="(00) 00000-0000"
            [ngClass]="{ 'is-invalid': isInvalid('telefone') }"
          />
          <div *ngIf="isInvalid('telefone')" class="text-danger small">
            Telefone é obrigatório.
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Data de Nascimento</label>
          <div class="d-flex gap-2">
            <mat-form-field appearance="outline" class="datepicker-small w-100">
              <mat-label>Data de nascimento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="dd/mm/aaaa"
                formControlName="dataNascimento"
                id="dataNascimento"
                [ngClass]="{ 'is-invalid': isInvalid('dataNascimento') }"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div *ngIf="isInvalid('dataNascimento')" class="text-danger small">
            Data de nascimento é obrigatória.
          </div>
        </div>

        <div class="col-md-6">
          <label for="genero" class="form-label">Gênero</label>
          <select
            class="form-select"
            id="genero"
            formControlName="genero"
            [ngClass]="{ 'is-invalid': isInvalid('genero') }"
          >
            <option value="" disabled selected>Selecione</option>
            <option>Masculino</option>
            <option>Feminino</option>
            <option>Outro</option>
          </select>
          <div *ngIf="isInvalid('genero')" class="text-danger small">
            Gênero é obrigatório.
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-4">
          <label for="cpf" class="form-label">CPF do Professor</label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            formControlName="cpf"
            placeholder="000.000.000-00"
            mask="000.000.000-00"
            [ngClass]="{ 'is-invalid': isInvalid('cpf') }"
          />
          <div *ngIf="isInvalid('cpf')" class="invalid-feedback">
            <div *ngIf="teacherForm.get('cpf')?.errors?.['required']">
              CPF é obrigatório.
            </div>
            <div *ngIf="teacherForm.get('cpf')?.errors?.['cpfInvalido']">
              CPF inválido.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="serieAno" class="form-label">Série/Ano</label>
          <input
            type="text"
            class="form-control"
            id="serieAno"
            formControlName="serieAno"
            placeholder="Ex: 6º Ano, 1º EM"
            [ngClass]="{ 'is-invalid': isInvalid('serieAno') }"
          />
          <div *ngIf="isInvalid('serieAno')" class="invalid-feedback">
            Série/Ano é obrigatório.
          </div>
        </div>
        <div class="col-md-4">
          <label for="disciplina" class="form-label">Matérias</label>
          <mat-form-field class="w-100">
            <mat-select
              id="disciplina"
              formControlName="disciplina"
              multiple
              placeholder="Selecione as matérias"
              [ngClass]="{ 'is-invalid': isInvalid('disciplina') }"
            >
              <mat-option value="Matemática">Matemática</mat-option>
              <mat-option value="Gramática">Gramática</mat-option>
              <mat-option value="Inglês">Inglês</mat-option>
              <mat-option value="Espanhol">Espanhol</mat-option>
              <mat-option value="História">História</mat-option>
              <mat-option value="Geografia">Geografia</mat-option>
              <mat-option value="Sociologia">Sociologia</mat-option>
              <mat-option value="Filosofia">Filosofia</mat-option>
              <mat-option value="Física">Física</mat-option>
              <mat-option value="Química">Química</mat-option>
              <mat-option value="Biologia">Biologia</mat-option>
              <mat-option value="Artes">Artes</mat-option>
              <mat-option value="Educação Física">Educação Física</mat-option>
              <mat-option value="Redação">Redação</mat-option>
              <mat-option value="Literatura">Literatura</mat-option>
            </mat-select>
            <mat-error *ngIf="isInvalid('disciplina')">
              Selecione ao menos uma matéria
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary col-md-3"
          [disabled]="teacherForm.invalid"
        >
          Próximo
        </button>
      </div>

      <div class="text-center mt-4">
        <a href="#" (click)="goToLogin($event)">Já é cadastrado?</a>
      </div>
    </fieldset>
  </form>
</div>
