<footer class="container-geral mt-5 border-top">
  <div
    class="container d-flex flex-column flex-md-row justify-content-around align-items-center"
  >
    <!-- Logo e nome -->
    <div class="d-flex align-items-center mb-md-0 mt-4">
      <div class="d-flex logo-container">
        <img src="school-logo.png" alt="Logo da escola" />
      </div>
      <div>
        <h5 class="d-flex justify-content-center mb-0 text-white">Escola Exemplar</h5>
        <small class="text-white">&copy; {{ currentYear }} Todos os direitos reservados</small>
      </div>
    </div>

    <!-- Links institucionais -->
    <ul class="list-unstyled d-flex gap-3 mb-0">
      <li><a href="#" class="text-decoration-none text-white">Sobre</a></li>
      <li><a href="#" class="text-decoration-none text-white">Contato</a></li>
      <li><a href="#" class="text-decoration-none text-white">Política</a></li>
    </ul>
  </div>
</footer>
