.container-geral {
  background: linear-gradient(0.25turn, #711bb0, #340645);
  height: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img{
  max-width: 25%;
  height: auto;
}
