.container-geral {
  background: linear-gradient(0.25turn, #711bb0, #340645);
  height: 125px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img{
  min-width: 75px;
  max-width: 25%;
  height: auto;
}

.header-btn {
  background-color: white;
  width: 125px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.header-btn:hover {
  transform: scale(1.1);
}

.header-btn:active {
  background-color: white;
}
