<div class="portal">
  <div class="tittle-div text-center py-5">
    <h1>Portal do Aluno</h1>
  </div>
  <div class="hero-section px-5 py-5">
    <p class="fs-4 fw-medium">Olá Aluno</p>
    <p>Olá, bem-vindo(a) ao novo Portal do Aluno.</p>
  </div>
  <div class="materias p-5">
    <div class="mat-card p-3">
      <div class="mat-gramatica d-flex justify-content-between">
        <div class="info-prof d-flex flex-column px-3 py-1">
          <div class="modalidade">Presencial</div>
          <div class="materia fs-4 fw-medium pb-3">Gramatica</div>
          <div class="prof-title">PROFESSOR(A)</div>
          <div class="prof-name">Mattheaus Hoffman Franco</div>
        </div>
        <div class="info-aluno d-flex">
          <div class="info-faltas d-flex flex-column px-3 py-1">
            <div class="faltas">faltas</div>
          </div>
          <div class="info-nota d-flex flex-column px-3 py-1">
            <div class="notas">nota</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    lista de matérias: Gramática, Redação, Literatura, Matemática, Biologia,
    Química, Física, História, Geografia, Inglês, Espanhol, Artes, Ed. Física,
    Sociologia, Filosofia
  </p>
</div>
